[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
cffi = "==1.17.1"
cryptography = "==43.0.3"
django = "==5.1.1"
django-filter = "==24.3"
djangorestframework = "==3.15.2"
djangorestframework-simplejwt = "==5.3.1"
markdown = "==3.7"
pycparser = "==2.22"
pyjwt = "==2.9.0"
sqlparse = "==0.5.1"
tzdata = "==2024.2"

[dev-packages]

[requires]
python_version = "3.12"
